@charset "utf-8";


/* =====================header===================== */
header{
  width: 100%;
  margin: 50px 0;
}
h1 a{
  display: block;
  width: 300px;
  height: 200px;
  background: url(../img/logo.svg) no-repeat center;
  margin: auto;
}
/* =====================container===================== */
#container{
  margin: 0 auto 60px;
}
.join_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px 0;
}
.join_box > div{
  padding-top: 10px;
}
.join_box h2{
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
label{
  display: block;
  margin: 5px;
  font-size: 1.4rem;
  position: relative;
}
label span{
  padding-left: 20px;
}
label .material-icons{
  position: absolute;
  bottom: 0px;
}
input{
  padding: 10px;
  border: 1px solid #606060;
  height: 38px;
}
.join_box .user_numbers input, .join_box .user_numbers select{
  width: 60px;
}
.join_box .user_numbers{
  position: relative;
}
.join_box .user_numbers span{
  margin: auto 3px;
  font-size: 2.6rem;
}
.join_box .l_id{
  position: relative;
  width: 220px;
}
.join_box #user_id{
  width: 170px;
}
.join_box button{
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
}
.join_box select{
  padding: 10px 10px;
  appearance: none;
  cursor: pointer;
  background: url(../img/arrow_drop_down_black_24dp.svg) no-repeat right;
}
.join_box select option{
  cursor: pointer;
}
.join_box .btn__idcheck{
  background-color: #606060;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  box-sizing: border-box;
  padding: 10px 0;
  height: 38px;
}
.join_box .btn__join{
  margin-top: 20px;
  background-color: #259A6A;
  padding: 12px 22px;
  font-size: 1.5rem;
}
.join_box .l_event_check{
  height: 20px;
  margin-top: 10px;
}
.join_box .l_event_check label{
  font-size: 1.25rem;
  display: inline-block;
  margin: 0 0 0 5px;
}
.join_box .l_event_check #user_ch{
  appearance: none;
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;
  /* outline: none !important; */
  border: 1px solid #606060;
  border-radius: 0px;
  padding: 6px;
  bottom: -2px;
}
.join_box .l_event_check #user_ch::before{
  content: "\2713";
  font-weight: 400;
  position: absolute;
  top: 53%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}
.join_box .l_event_check #user_ch:checked{
  background-color: #259a6a;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.join_box .l_event_check #user_ch:checked::before{
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}
/* =====================footer===================== */
footer{
  background-color: #4A4A4A;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 1.4rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer .team span:first-child::after{
  content: "|";
  display: inline-block;
  margin: 0 10px 0 15px;
}
.f_sns{
  margin: 20px 0;
}
.f_sns a{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
.f_sns a:last-child{
  margin-right: 0;
}
.f_sns img{
  width: 100%;
}
@media (min-width:400px){
  .join_box{
    width: 380px;
    margin: 0 auto;
  }
}
@media (min-width:1024px){
  .inner{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }

  /* =====================header===================== */
  header{
    margin: 35px 0;
  }
  h1 a{
    height: 250px;
    width: 350px;
  }
  /* =====================container===================== */
  .join_box h2{
    font-size: 5rem;
  }
  label{
    font-size: 1.6rem;
  }
  .user_f a{
    font-size: 1.6rem;
  }
  /* =====================footer===================== */
  footer{
    font-size: 1.6rem;
  }


  
}
@media (min-width:1280px){
  .inner{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
}
