@charset "utf-8";


/* =====================header===================== */
header{
  width: 100%;
  margin: 50px 0;
}
.logo a{
  display: block;
  width: 300px;
  height: 200px;
  background: url(../img/logo.svg) no-repeat center;
  margin: auto;
}
/* =====================container===================== */
#container{
  margin: 0 auto 60px;
}
.login_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px 0;
}
.login_box h2{
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
label{
  display: block;
  margin: 5px;
  font-size: 1.4rem;
  position: relative;
}
label span{
  padding-left: 20px;
}
input{
  padding: 10px;
  border: 1px solid #606060;
}
.login_box button{
  background-color: #259A6A;
  color: #fff;
  padding: 12px 22px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.5rem;
}
label .material-icons{
  position: absolute;
  bottom: 0px;
}
.l_pw{
  padding-top: 10px;
}
.user_f{
  text-align: center;
  margin-top: 20px;
}
.user_f a{
  font-size: 1.4rem;
}
.user_f a:first-child::after{
  content: "|";
  display: inline;
  margin: 0 20px;
}

@media (min-width:400px){
  .login_box{
    width: 380px;
    margin: 0 auto;
  }
}
@media (min-width:1024px){
  .inner{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }

  /* =====================header===================== */
  header{
    margin: 35px 0;
  }
  h1 a{
    height: 250px;
    width: 350px;
  }
  /* =====================container===================== */
  .login_box h2{
    font-size: 5rem;
  }
  label{
    font-size: 1.6rem;
  }
  .user_f a{
    font-size: 1.6rem;
  }
}
@media (min-width:1280px){
  .inner{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
}
