@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.3;
  color: #606060;
}

a {
  text-decoration: none;
  color: #606060;
}

img {
  border: 0;
}

input, select {
  vertical-align: top;
  width: 220px;
}

ul, ol {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

legend {
  display: none;
}

input {
  outline: none;
  border: 0;

  &:focus {
    &::-webkit-input-placeholder, &::-ms-input-placeholder {
      color: transparent;
    }
  }
}

@media (max-width: 360px) {
  #wrap {
    width: 360px;
    margin: 0 auto;
  }
}